.task--page--container-- {
    width: 100%;
    margin-top: 28px;
    height: 85vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .task-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgb(241, 241, 241);
        height: 46rem;
        width: 72.99rem;
        overflow: hidden;
        position: relative;
        border: 2px solid blue;


        .top-row-- {
            height: 50px;
            width: 100%;
            border-bottom: 1px solid blue;
            display: flex;
            ;
            justify-content: center;
            align-items: center;
            font-family: Roboto;
            font-size: 30px;
            position: relative;

            h5 {

                font-weight: 700;
            }

            @media screen and (max-width: 700px) {
                h5 {
                    font-size: 20px;
                    left: 1%;
                    position: absolute;
                }

            }

            .pause {
                position: absolute;
                display: flex;
                width: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .1s ease-in-out;
                gap: 2px;

                &:hover {

                    background-color: rgb(197, 197, 197);
                    transition: .1s ease-in-out;
                }

                right: 10px;
                align-items: center;
                border: 2px solid blue;

                @media screen and (max-width: 700px) {
                    width: 5rem;

                }

                h6 {
                    font-size: 16px;
                    font-family: Roboto;

                    @media screen and (max-width: 700px) {
                        display: none;
                    }
                }
            }
        }

        .col-names {
            display: flex;
            border-bottom: 6px solid blue;
            align-items: center;
            background-color: white;
            min-height: 50px;
            height: 50px;
            top: 0px;
            position: sticky;
            overflow: hidden;

            h6 {
                &:nth-of-type(1) {
                    min-width: 10rem;
                    max-width: 10rem;
                }

                font-family: Roboto;
                text-transform: capitalize;
                display: flex;
                font-weight: 700;
                font-size: 18px;
                padding-left: 5px;
                border-right: 1px solid black;
                min-width: 8rem;
                max-width: 8rem;
                width: 15%;
                height: 100%;
                display: flex;
                align-items: center;

                &:nth-of-type(8) {
                    border: none;
                    min-width: 120px
                }
            }
        }

        .process-list {
            height: 43rem;
            display: flex;
            flex-direction: column;
            overflow: auto;
            width: 100%;

            .row__ {
                display: flex;
                align-items: center;
                width: 72rem;
                min-height: 50px;
                border-bottom: 1px solid black;
                ;

                .first-- {
                    min-width: 10rem;
                    max-width: 10rem;
                    font-family: Roboto;
                    text-transform: capitalize;
                    display: flex;
                    font-weight: 700;
                    text-wrap: wrap;
                    overflow: auto;
                    font-size: 14px;
                    padding-left: 5px;
                    align-items: center;
                    height: 100%;
                    border-right: 1px solid black;
                }

                .field {
                    font-family: Roboto;
                    overflow: hidden;
                    text-transform: capitalize;
                    display: flex;
                    font-weight: 700;
                    text-wrap: wrap;
                    font-size: 14px;
                    padding-left: 5px;
                    min-width: 8rem;
                    max-width: 8rem;
                    align-items: center;
                    height: 100%;
                    border-right: 1px solid black;

                    &:nth-of-type(8) {
                        border: none;

                    }
                }
            }

        }
    }
}